<h1>BASTA! 2017 Demo</h1>

<p>This demo has been written for the Talk &quot;Angular - Komponentenbasierte HTML5-Anwendungen für alle&quot;.</p>

<dl>
    <dt>GitHub Repository</dt>
    <dd><a href="https://github.com/thinktecture/basta-herbst-2017-angular-demo">thinktecture/basta-herbst-2017-angular-demo</a></dd>
    <dt>Author</dt>
    <dd>Manuel Rauber (<a href="mailto:manuel.rauber@thinktecture.com">manuel.rauber@thinktecture.com</a>)</dd>
    <dt>Slides</dt>
    <dd><a href="https://speakerdeck.com/manuelrauber/angular-komponentenbasierte-html5-anwendungen-fur-alle">Speakerdeck</a></dd>
</dl>
